:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.full-width {
  width: 95%;
}

.textarea-large {
  min-height: 90px;
}

mat-dialog-content {

  mat-form-field {
    display: block;
  }

  textarea {
    font-size: 14px;
    line-height: 1.5;
  }
}

mat-dialog-actions {
  margin-top: 5px;
}
