<section>
    <div class="modal-body">
        <div class="text-body">
            <p>Por favor, nos deixe saber a razão da recusa:</p>
        </div>
        <div class="text-area">
            <mat-form-field class="text-body">
                <mat-label>Digite</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>
        </div>
        <div class="btn-area">
            <button mat-fab extended (click)="closeModal()">Enviar</button>
        </div>
    </div>
</section>
