::ng-deep .mat-dialog-container {
  padding: 24px;
  border-radius: 12px;
  max-width: 500px;
  width: 100%;
  background-color: #fafafa;
}

h2[mat-dialog-title] {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
  color: #333;
}

mat-dialog-content {
  font-size: 16px;
  color: #444;

  .full-width {
    width: 100%;
    margin-bottom: 24px;

    mat-form-field {
      width: 100%;
    }

    ::ng-deep .mat-form-field-wrapper {
      padding-bottom: 0px !important;
    }
  }

  p {
    text-align: center;
    font-size: 16px;
    margin: 16px 0;
  }
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  padding-top: 16px;

  button {
    min-width: 100px;
    font-weight: 500;
  }
  .mat-button-base[color='warn'] {
    color: #b00020;
  }

  .mat-button-base[color='primary'] {
    color: #1976d2;
  }
}




