<h2 mat-dialog-title>{{ data.id ? 'Edit Equipment' : 'New Equipment' }}</h2>

<mat-dialog-content>
  <mat-form-field class="full-width">
    <mat-label>Equipment Name</mat-label>
    <input 
      matInput 
      [(ngModel)]="data.name" 
      #nameInput="ngModel"
      name="name"
      required
      pattern="^[a-zA-ZÀ-ÿ\s]*$"
    >
    <mat-error *ngIf="nameInput.invalid && nameInput.dirty">
        <span *ngIf="nameInput.errors?.['required']">This field is required.</span>
        <span *ngIf="nameInput.errors?.['pattern']">Only letters and spaces are allowed.</span>
      </mat-error>
      
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Cancel</button>
  <button mat-raised-button color="primary" (click)="save()" [disabled]="nameInput.invalid">
    Save
  </button>
</mat-dialog-actions>
