<mat-card class="Container-Repair">
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <mat-form-field appearance="fill">
      <mat-label>Descrição do Equipamento</mat-label>
      <textarea matInput name="descricao_equipamento" rows="4" required ngModel></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Categoria do Equipamento</mat-label>
      <mat-select name="categoria" required ngModel>
        <mat-option *ngFor="let category of categories" [value]="category.name">
          {{ category.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Descrição do Defeito</mat-label>
      <textarea matInput name="descricao_defeito" rows="4" required ngModel></textarea>
    </mat-form-field>

    <div class="Button-Request">
      <button mat-raised-button color="primary" type="submit">Enviar Solicitação</button>
    </div>
  </form>
</mat-card>