<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav [mode]="'side'" [opened]="isSidenavOpen" class="sidenav">
    <div class="sidenav-header">
      <h2>Menu</h2>
    </div>
    <mat-nav-list>
      <a mat-list-item routerLink="/back-office/home" routerLinkActive="active">
        <mat-icon matListItemIcon>list</mat-icon>
        <span matListItemTitle>Home</span>
      </a>
      <a mat-list-item routerLink="/back-office/maintenance-request" routerLinkActive="active">
        <mat-icon matListItemIcon>list</mat-icon>
        <span matListItemTitle>Solicitações</span>
      </a>
      <a mat-list-item routerLink="/back-office/category" routerLinkActive="active">
        <mat-icon matListItemIcon>category</mat-icon>
        <span matListItemTitle>Categorias</span>
      </a>
      <a mat-list-item routerLink="/back-office/employees" routerLinkActive="active">
        <mat-icon matListItemIcon>work</mat-icon>
        <span matListItemTitle>Funcionarios</span>
      </a>
      <a mat-list-item routerLink="/back-office/reports" routerLinkActive="active">
        <mat-icon matListItemIcon>category</mat-icon>
        <span matListItemTitle>Relatórios</span>
      </a>
      <a mat-list-item (click)="logout()" class="logout-button">
        <mat-icon matListItemIcon>logout</mat-icon>
        <span matListItemTitle>Logout</span>
      </a>
      @if (authService.currentUser()?.isCliente()) {
        <a mat-list-item routerLink="/customer-home" routerLinkActive="active">
          <mat-icon matListItemIcon>add</mat-icon>
          <span matListItemTitle>Ver como cliente</span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
