.payment-card {
  width: 100%;
  text-align: left;
}

mat-card-title {
  font-size: 1.5rem;
  margin-bottom: 16px;
  padding: 1rem;

}

.full-width {
  width: 100%;
}

mat-card-actions button {
  width: 100%;
  color: #af03ff;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup-content {
  background: white;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 25px 30px;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #000000;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.popup-content button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #af03ff;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.popup-content button:hover {
  background-color: #8c02cc;
}

@media (max-width: 600px) {
  .payment-container {
    padding: 10px;
  }

  .popup-content {
    width: 90%;
  }
}

