<form class="form" [formGroup]="formGroup">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input
      matInput
      formControlName="name"
      required
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input
      matInput
      formControlName="email"
      required
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>CPF</mat-label>
    <input
      mask="999.999.999-99"
      matInput
      formControlName="cpf"
      required
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Telefone</mat-label>
    <input
      mask="(99)99999-9999"
      matInput
      formControlName="phone"
      required
    />
  </mat-form-field>
</form>
@if (!data) {
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Senha</mat-label>
    <input matInput type="password" [(ngModel)]="password" name="password" required [minlength]="1" />
  </mat-form-field>
}

<div class="buttons">
  <button mat-raised-button color="primary" (click)="cancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="save()">Save</button>
</div>
