<mat-card class="register-container">
  <form #registerForm="ngForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>CPF</mat-label>
      <input matInput name="cpf" [(ngModel)]="user.cpf" mask="000.000.000-00" maxlength="15" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput name="name" [(ngModel)]="user.name" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>E-mail</mat-label>
      <input matInput type="email" name="email" [(ngModel)]="user.email" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Telefone</mat-label>
      <input matInput name="phone" [(ngModel)]="user.phone" mask="(00)00000-0000" maxlength="14" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>CEP</mat-label>
      <input matInput name="cep" [(ngModel)]="cep" (blur)="fetchAddress()" mask="00.000-000" maxlength="10" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Rua</mat-label>
      <input matInput name="street" [(ngModel)]="address.street" required readonly />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Bairro</mat-label>
      <input matInput name="neighborhood" [(ngModel)]="address.neighborhood" required readonly />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Cidade</mat-label>
      <input matInput name="city" [(ngModel)]="address.city" required readonly />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Estado</mat-label>
      <input matInput name="state" [(ngModel)]="address.state" required readonly />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Número</mat-label>
      <input matInput name="number" [(ngModel)]="address.number" numeric required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Complemento</mat-label>
      <input matInput name="complement" [(ngModel)]="address.complement" />
    </mat-form-field>

    <div class="button-container">
      <button mat-raised-button color="primary" type="submit">Cadastrar</button>
    </div>
  </form>
</mat-card>
