<mat-card class="register-container">
  <form>
    <mat-form-field appearance="fill">
      <mat-label>CPF</mat-label>
      <input matInput name="cpf" mask="999.999.999-99" [formControl]="cpfFormControl"/>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput name="name" required [formControl]="nameFormControl"/>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>E-mail</mat-label>
      <input matInput type="email" name="email" required [formControl]="emailFormControl"/>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Senha</mat-label>
      <input matInput type="password" name="password" required [formControl]="passwordFormControl"/>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Digite a senha novamente</mat-label>
      <input matInput type="password" name="retype-password" required [formControl]="rePasswordFormControl"/>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Telefone</mat-label>
      <input matInput name="phone" mask="(99)99999-9999" required [formControl]="phoneFormControl"/>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>CEP</mat-label>
      <input matInput name="cep" mask="99999-999" [(ngModel)]="cep" (blur)="fetchAddress()" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Rua</mat-label>
      <input matInput name="street" [(ngModel)]="address.street" required readonly />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Bairro</mat-label>
      <input matInput name="neighborhood" [(ngModel)]="address.neighborhood" required readonly />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Cidade</mat-label>
      <input matInput name="city" [(ngModel)]="address.city" required readonly />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Estado</mat-label>
      <input matInput name="state" [(ngModel)]="address.state" required readonly />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Número</mat-label>
      <input matInput name="number" [(ngModel)]="address.number" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Complemento</mat-label>
      <input matInput name="complement" [(ngModel)]="address.complement" />
    </mat-form-field>

    <div class="button-container">
      <button mat-raised-button color="primary" [disabled]="loading()" (click)="submit()">Cadastrar</button>
    </div>
  </form>
</mat-card>
