<h2 class="mat-h2">Gerenciamento de Categorias</h2>

<div class="button-container">
  <button mat-raised-button color="primary" (click)="openDialog()">Nova categoria</button>
</div>

<table mat-table [dataSource]="categories" class="mat-elevation-z8 category-table">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Nome</th>
    <td mat-cell *matCellDef="let category">{{ category.categoryName }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Ações</th>
    <td mat-cell *matCellDef="let category">
      <ng-container *ngIf="category.isActivated">
        <button mat-icon-button color="accent" aria-label="Editar categoria" matTooltip="Editar categoria" (click)="openDialog(category, 'edit')">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" aria-label="Desativar categoria" matTooltip="Desativar categoria" (click)="openDialog(category, 'delete')">
          <mat-icon>remove_circle</mat-icon>
        </button>
      </ng-container>
      <ng-container *ngIf="!category.isActivated">
        <button mat-icon-button color="acent" aria-label="Ativar categoria" matTooltip="Ativar categoria" (click)="updateCategoryStatus(category.id, true)">
          <mat-icon>add_circle</mat-icon>
        </button>
      </ng-container>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['name', 'status', 'actions']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['name', 'status', 'actions'];"></tr>


  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td mat-cell *matCellDef="let category">
      <span [ngClass]="category.isActivated? 'status-ativa' : 'status-inativa'">
      {{ category.isActivated ? 'Ativa' : 'Inativa' }}
      </span>
    </td>
  </ng-container>
</table>
